extends ./layout.jade

block title
    title test

append style
    link(rel='stylesheet', href='/test/index.css')

block content
    div.content 这是一个 test

append scripts
    script(src="/test/index.js")
