/**
 * 重置样式
 */

html, body, ol, ul, li, p, h1, h2, button, input, dl, dt, dd {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size:100%;
    font-weight:normal;
}

cite, var, address, em {
    font-style: normal;
}

strong{
    font-weight: normal;
}

a:-webkit-any-link{
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

fieldset,
iframe{
    border: none;
}

ol,
ul {
    list-style:none;
}

input, textarea, select, button{
    font-family:inherit;
    font-weight:inherit;
    font-size:inherit;
    margin: 0;
}

select, button, input{
    color: inherit;
}
