extends ./layout.html.jade

block title
    title test

append style
    link(rel='stylesheet', href='/test/index.css')

block content
    div.content I'm test.

append scripts
    script(src="/test/index.js")
